<% if @user.lists.count == 0 %>
  <p>You have no current lists!</p>
<% else %>
  <p>
    <% @user.lists.each_with_index do |list, index| %>
      <span class="list-titles" id='list-<%= list.id %>'>
        <ul>
        <%= link_to list.title, list_path(list.id) %></span>
        </ul>
    <% end %>
  </p>
<% end %>