<h1 class='list-title'><%= "#{@user.email}'s to-do list."%></h1>

<h3>Rules of Blocitoff</h3>
    <ul>
      <li>You have 7 days to get an item done before it gets deemed unimportant and gets deleted automatically.</li>
    </ul>