<div class="container">
  <div class="row">
    <div class='col-md-8'>
        <h1>About BlocItOff</h1>
        <p>A ruby based web application created by: Torie van Dijk</p>

        <h3>Why use BlocItOff?</h3>
        <p>To-do lists are notorious for collecting junk: to-do items that you want to remember, but are not very important and thus get consistently put off. To address the problem of to-do list clutter, I have created Blocitoff.</p>
        <h3>What is BlocItOff?</h3>
        <p>Blocitoff will aim to keep to-do lists manageable by automatically deleting to-do items that have not been completed after seven days. The hypothesis is that if the to-do item is not important enough to be completed in seven days, it doesn't belong on your to-do list.</p>
        <h3>What are some of BlocItOff's features?</h3>
        <ul>
            <li>Automatic deletion of uncompleted tasks after 7 days</li>
            <li>Management of multiple separate lists per user profile</li>
        </ul>
    </div>
  </div>
</div>