<div class="jumbotron">
<h1>Welcome to BlocItOff</h1>
<p>A self-destructing to-do list application built to declutter and streamline your daily tasks.</p>
   <p>
     <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
     <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
   </p>
</div>
