<%= form_for [user, user.items.new ], remote: true do |f| %>
  <div class='form-group'>
    <%= f.label :Item %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Add a new item.' %>
  </div>
  <div class='form-group'>
    <%= f.submit 'Save', class: 'btn btn-success blue' %>
  </div>
<% end %>