/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.user-info {
  margin-top: 10px;
}

.nav {
  margin-top: 5px;
}

.middle {
    margin-top: 10px;
}

.title {
    margin-right: 15px;
    margin-top: -5px;
}

.welcome {
    background-image: url("https://s-media-cache-ak0.pinimg.com/736x/07/93/d2/0793d24f8203cadf1fc9ef2a4f4851f3.jpg");
    font-family: 'BenchNine', sans-serif;
}

.jumbotron {
  background:  #ffccff;
  text-align:  center;
}

.jumbotron h1 {
  color: DarkCyan;
  font-weight: bold;
}

li {
  font-size: 1.1em;
  font-weight: bold;
}

.current-user-name {
   float: left;
   text-align: right;
   margin-right: 10px;
 }
 
.current-user-image {
   float: right;
   margin: 0 5px 10px 0;
 }
 
